/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  margin: 1rem 0;
}

.App .card {
  padding: 1rem;
}

.App .card > .list-group {
  border-top: 0;
}

.App .row {
  margin-left: -10px;
  margin-right: -10px;
}

.App [class*="col"] {
  padding-right: 10px;
  padding-left: 10px;
}

.card.full-height {
  height: calc(100vh - 2rem)
}

.weather-icon-lg {
  height: 200px;
}

.weather-icon-md {
  height: 100px;
  /* margin-bottom: 0.5rem; */
}

.weather-icon-sm {
  height: 40px;
}